#h1_div {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;
}

#heading {
    color: red;
    float: none;
    background: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px red;
    display: inline-block;  
    width: fit-content;
}

#google_lens {
    float: none;
    background: white;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;  
    width: fit-content;
}

#VS {
    text-align: center;
}

.img-responsive{
    width: 300px;
    height: auto; 
}